<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Secret</title>
</head>
<body>

<form action="#" th:action="@{/write}" th:object="${secret}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="value">Value</label>
    <input type="text" th:field="*{value}" id="value" placeholder="{ foo : bar }">
    <span th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></span>
    <input type="submit" value="Add Secret">
</form>

</body>
</html>